@import "bootstrap-sprockets";
@import "bootstrap";

.bootstrap-selector {
  display: inline-block;
  width: auto;
}

.button {
  margin-left: 30px;
}

.text {
  vertical-align: middle;
}

textarea {
  resize: vertical;
  overflow: auto;
}
